appdirs==1.4.3
beautifulsoup4==4.5.3
chromedriver==2.24.1
Django==1.10.5
django-webpack-loader==0.4.1
jsonfield==2.0.1
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyparsing==2.2.0
requests==2.13.0
selenium==3.0.2
six==1.10.0
