
#date-picker-text {
    /*margin: 7px 0 0 0;*/
    padding: 0;
    font-size: 15pt;
}

#time-period {
    font-size: 15pt;
    padding-right: 15px;
}

#followButton{
    width: 95%;
    position: absolute;
    bottom: 5px;
    margin: 0 1em 1em 1em;
}

#allActivities {
    margin-bottom: 5%;
}
