body{
    margin-top: 7.5em;
    text-align: center;

    background: linear-gradient(to bottom, grey, black);
    background-attachment: scroll;
    background-size: 100% auto;
    overflow: hidden;
}

h1 {
    color: white;
    font-family: "Dosis", serif;
}


.buttons{
    text-align: center;
    width: 20em;
    height: 20em;
    color: white;
    margin: 3em;
    background-color: #252120;
}

.buttons:hover {
    cursor: pointer;
}

#body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#users{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.formLabel > label{
    color: white;
}


#back-arrow {
    margin: -2em 0 0 1em;
    float: left;
    width: 2em;
    color: white;
    font-size: 35px;

}

.banner-container {
    float: right;
}

#logo-image {
    height: 150px;
    margin-top: -35px;
}

