.instagram-image {
    height: 15em;
    padding: 0.2em;
    cursor: pointer;
    transition: .5s ease;
    backface-visibility: hidden;
}

.instagram-image:hover {
    opacity: 0.5;
}

.instagram-image-selected {
    box-sizing: border-box;
    border: 1em solid #2ecc40;
}

.input-box {
    display: block !important;
}

.input-box label {

}
