.activity-wrapper {
    padding: 8px;
    margin: 8px;
    background-color: white;
}

.instagram-image {
    height: 15em;
    padding: 0.2em;
    cursor: pointer;
    transition: .5s ease;
    backface-visibility: hidden;
}

.instagram-image:hover {
    opacity: 0.5;
}

.instagram-image-selected {
    box-sizing: border-box;
    border: 1em solid #2ecc40;
}

.input-box {
    display: block !important;
}

.input-box span {
    font-weight: 400;
}

.full-box {
    width: 100%;
}

.adaptions-container {
    display: block; !important;
}

.adaptions-box {

}

.facebook-event-wrapper {
    padding: 24px;
    margin: 8px;
    background-color: white;
    display: none;
}

.facebook-event-select {

}

#event-button {
    display: none;
    margin-top: 16px;
}
