h4#usersTitle{
    text-align: center;
    font-family: "Dosis", serif;
    font-weight: bolder;
    margin: 0 0 0 1em;
}

#myPageContent{
    display: flex;
    flex-direction: row;
    padding-left: 0em;
    margin-right: 0;
}

#profileOnMyPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 4em;
}

#profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.profileInformation {
    margin: 0 0 0 1.5em;
}

.profileExtras {
    margin: 0 0 0 6em;
}
#profilesOnMyPage{
    width: 9%;

}

.profilePicture {
    margin: 1em 0 0 0;
}

.demo-card.mdl-card {
    width: 40em;
    height: 12em;
}

.my-page-activities {
    margin: 1.5em 0 0 0;
}


/*Styling users*/
ol, ul {
    float: left;
    list-style: none;

}

a {
    text-decoration: none;
}

#addProfile{
    font-size: 2em;
}

ul.social {
    padding-left: 4em;
    text-align: center;
}

ul.social li {
    font: inherit;
    font-size: 100%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    line-height: 60px;
    background: #404040;
    border-radius: 100%;
    margin-bottom:.5em;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

ul.social li:hover {
    background: linear-gradient(to bottom right, #ffdb61, #ffb200);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

ul.social li:hover a {
    color: black;
    -webkit-text-fill-color: black;
    text-decoration: none;
}

ul.social li a {
    display: block;
    width: 100%;
    height: 200%;
    position: relative;
    top: 0;
    background:  -webkit-linear-gradient(#ffdb61, #ffb200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

