html {
    position: relative;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

h1, h2, h3, h4, .title {
    font-family: "Yuppy SC", serif;
}

.site-content {
    flex: 1;
}

.navbar.navbar-inverse {
    margin-bottom: 0px;
    border-radius: 0;
    border: none;
}


a.navbar-brand {
    padding: 0;
}

.nav-color {
    background-color: rgb(42, 42, 42);
    font-family: "Yuppy SC", serif;
}

.content {
    padding-left: 100px;
    padding-right: 100px;
}

.content-margin-top {
    margin-top: 50px;
}

.content-margin-home {
    margin-top: 60px;
    margin-bottom: 60px;
}

.navbar-right > li {
    padding: 0 5px;
}


 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
      color: white;

 }

.logo-div {
    position: absolute;
	z-index: 1;
	text-align: center;
	background-color: rgb(42, 42, 42);
	margin-top: 30px;
	padding: 10px;
    border-radius: 4px;
}

#logo-image {
    height: 75px;
    margin-top: -20px;
}

.banner-container {
    z-index: -1;
}

.banner-home {
    width: 100%;
    height: 400px;

}

.banner {
    width: 100%;
    height: 100px;

}

pre {
    border: 0;
    background-color: transparent;
}


.footer {
    background-color: rgb(42, 42, 42);
    color: rgb(157, 157, 157);
}

.footer-divider {
    margin: 5px;
    border: 1px solid #3ad7ff;
}

.container-navigation {
    display: flex;
    justify-content: space-around;
}

.navigation-item {

}

.container-creators {
    display: flex;
    justify-content: space-around;
}

.creators-item {
    font-size: 8pt;
    margin: 15px;
}

.container-info {
    display: flex;
    justify-content: space-around;
}

.info-item {
    margin: 15px;
}



li.dropdown.open > a:focus {
    color: white !important;
    border-bottom: 7px solid #3ad7ff !important;
    /*background: -webkit-linear-gradient(left top,#3ad7ff, #03a7ff) !important; /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right, #3ad7ff, #03a7ff) !important; /* For Opera 11.1 to 12.0 */
   /* background: -moz-linear-gradient(bottom right, #3ad7ff, #03a7ff) !important; /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom right, #3ad7ff, #03a7ff) !important; /* Standard syntax */
}

.active > a {
    color: white !important;
    border-bottom: 7px solid #3ad7ff !important;
    /*border-bottom: -webkit-linear-gradient(left top, #3ad7ff, #03a7ff) !important; /* For Safari 5.1 to 6.0 */
    /*border-bottom: -o-linear-gradient(bottom right, #3ad7ff, #03a7ff) !important; /* For Opera 11.1 to 12.0 */
    /*border-bottom: -moz-linear-gradient(bottom right, #3ad7ff, #03a7ff) !important; /* For Firefox 3.6 to 15 */
    /*border-bottom: linear-gradient(to bottom right, #3ad7ff, #03a7ff) !important; /* Standard syntax */
}
