html {
    position: relative;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.site-content {
    flex: 1;
}

.content {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

/*Text styling*/

h1, h2, h3, .title {
    font-family: "Dosis", serif;
    font-weight: bold;
}

.title {
    font-size: 4em;
}

.bold-info-text {
    font-weight: bolder;
    font-family: "Dosis", serif;
    font-size: 1.2em;
}

.bold-small-info-text {
    font-weight: bolder;
    font-family: "Dosis", serif;
    font-size: 1.1em;
}

#new-activity-button {
    float: right;
}

/*styling navbar*/
.navbar.navbar-inverse {
    margin-bottom: 0px;
    border-radius: 0;
    border: none;
}


a.navbar-brand {
    padding: 0;
}

.nav-color {
    background-color: rgb(42, 42, 42);
    font-family: "Dosis", serif;
}

.nav-content {
    padding-left: 100px;
    padding-right: 100px;
}
.content-margin-top {
    margin-top: 50px;
}

.content-margin-home {
    margin-top: 60px;
    margin-bottom: 60px;
}

.navbar-right > li {
    padding: 0 5px;
}

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
      color: white;
 }

 li.dropdown.open > a:focus {
    color: white !important;
    border-bottom: 7px solid #3ad7ff !important;
}
.username-font {
    font-family: "Dosis", serif;
    font-weight: bold;
}

.active > a {
    color: white !important;
    border-bottom: 7px solid #3ad7ff !important;
}

.logo-div {
    position: absolute;
	z-index: 1;
	text-align: center;
	background-color: rgb(42, 42, 42);
	margin-top: 30px;
	padding: 10px;
    border-radius: 4px;
}

#logo-image {
    height: 90px;
    margin-top: -35px;
}

@media screen and (max-width: 1020px) {
    #logo-image {
        display: none; !important;
    }

    .logo-div {
        display: none; !important;
    }
}

.banner-container {
    z-index: -1;
}

.banner-home {
    width: 100%;
    height: 400px;

}

.banner {
    width: 100%;
    height: 100px;

}

pre {
    border: 0;
    background-color: transparent;
}

/*styling footer*/

.footer {
    background-color: rgb(42, 42, 42);
    color: rgb(157, 157, 157);
}

.footer-divider {
    margin: 5px;
    border: 1px solid #3ad7ff;
}

.container-navigation {
    display: flex;
    justify-content: space-around;
}

.navigation-item {

}

.container-creators {
    display: flex;
    justify-content: space-around;
}

.creators-item {
    font-size: 8pt;
    margin: 15px;
}

.container-info {
    display: flex;
    justify-content: space-around;
}

.info-item {
    margin: 15px;
}


