{% extends "base_template.html" %}
{% load static %}

{% block pageTitle %}
    Oppdater Aktivitet
{% endblock %}


{% block body %}
    <h1>Oppdater Aktivitet</h1>
    <h2>{{ activity.activityName }}</h2>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ field.errors }}</span>
                </div>
                <label class="control-label col-sm-2" for="field_title">{{ field.label_tag }}</label>
                <div class="col-sm-10">
                    {{ field }}
                    {% if field.label == "Bilder" %}
                        <a href="https://www.instagram.com/oauth/authorize/?client_id=e3b85b32b9eb461190ba27b4c32e2cc6&redirect_uri=http://localhost:8000/activity/&response_type=code&scope=public_content" class="btn btn-info" role="button">Finn bilde på Instagram</a>
                        {% if images %}
                            {% for image in images %}
                                <img alt="Bilde fra Instagram" src={{ image }}>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Lagre</button>
            </div>
        </div>
    </form>

{% endblock %}
