{% extends "base_template.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block pageTitle %}Aktiviteter{% endblock %}

{% block explicitPageHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/allactivities.css' %}" />
{% endblock %}

{% block body %}
    <div class="banner-container">
            <img src="{% static "images/top-banner.jpg" %}" alt="Banner" class="banner">
    </div>

    <div class="content">
        <div class="content-margin-top">
            <h1 class="title">Aktiviteter</h1>
            <p>Her er en oversikt over alle aktiviteter som tilbys i Trondheim kommune</p>
            <div>
                <div id="allActivities"></div>
            </div>
        </div>

    </div>

{% endblock %}

{% block explicitPageFooter %}
    {% render_bundle 'allActivitiesContainer' %}
{% endblock %}
