{% extends "base_template.html" %}
{% load static %}
{% block pageTitle %}Aktiviteter{% endblock %}


{% block body %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles/allactivities.css' %}" />

    <div class="content">

        <a href="/activity" class="btn btn-info" role="button" id="new-activity-button">Opprett ny aktivitet</a>
        <div class="content-margin-top">
            <h2>Aktiviteter</h2>
            <p>Her er en oversikt over alle aktiviteter og grupper som tilbys i Trondheim kommune</p>
        </div>

        <div class="filter-container">
            <h3 id="info-txt">Finn aktiviteter</h3>
                <div class="form-group row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="search" placeholder="Søk etter en aktivitet...">
                    </div>
                    <div class="col-md-6">
                    <div class="date-picker-container">
                        <div id="week"></div>
                    </div>
                </div>
                </div>


            <div class="row">
                <div class="col-md-6" id="whatContainer">
                    <div id="activityfilter"></div>
                </div>
                <div class="col-md-6" id="whoContainer">
                    <div id="suitedfor"></div>
                </div>
            </div>
            <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Søk!</button>
                    </span>
        </div>

        <div id="allActivities"></div>
    </div>

{% endblock %}
