{% extends "base_template.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block pageTitle %}Arrangører{% endblock %}

{% block explicitPageHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/allactivities.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/material.min.css'%}">
    <script src="{% static 'js/material.min.js'%}"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="banner-container">
            <img src="{% static "images/top-banner.png" %}" alt="Banner" class="banner">
    </div>

    <div class="content">

        <div class="content-margin-top">
            <h1 class="title">Arrangører</h1>
            <p>Her er en oversikt over alle aktivitetstilbydere og grupper som tilbys i Trondheim kommune</p>
            <div>
                <div id="allProviders"></div>
            </div>
        </div>

    </div>

{% endblock %}

{% block explicitPageFooter %}
    {% render_bundle 'allProvidersContainer' %}
{#    {% render_bundle 'suitedForPicker' %}#}
{#    {% render_bundle 'activityPicker' %}#}
{#    {% render_bundle 'weekPicker' %}#}
{% endblock %}
