{% load static %}

{% block explicitPageHeader %}
    <link rel="stylesheet" href="../static/styles/chooseUser.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
{% endblock %}

{% block body %}

    <div id="body">
        <div class="banner-container">
            <img src="{% static "images/logoSmall.png" %}" alt="Banner" class="banner">
        </div>
        <h1>Velg bruker</h1>

        <div id="users">
            {% for profile in userprofiles %}
                <form action="/selected/" method="POST">
                    <input type="text" name="profile_name" value="{{ profile.profile_name }}" hidden>
                    <input type="text" name="pk" value="{{ profile.pk }}" hidden>
                    <input class="buttons" type="submit" value="{{ profile.profile_name }}">
                </form>

            {% endfor %}
        </div>
    </div>

{% endblock %}
