<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="footer-header">Navigasjon</p>
                <div class="footer-list">
                    <p>Hovedside</p>
                    <p>Alle aktiviteter</p>
                    <p>Min side</p>
                    <p>Formum</p>
                </div>
            </div>



            <div class="col-md-4">
                <p class="footer-header">Laget av</p>
                <div class="footer-list">
                    <p>Christina H. Andresen</p>
                    <p>Andreas Norstein</p>
                    <p>Ingrid Skar</p>
                    <p>Martin Stigen</p>
                    <p>Sigve Skaugvoll</p>
                    <p>Thomas Wold</p>
                </div>
            </div>
            <div class="col-md-4">
                <p class="footer-header">Versjon: </p>
                <p class="footer-header">Lisens: Apache-2.0 </p>
            </div>
        </div>
    </div>
</footer>
