<footer id="footer">

{#    <footer class="mdl-mini-footer">#}
{#        <div class="mdl-mini-footer__left-section">#}
{#            <div class="mdl-logo">Title</div>#}
{#            <ul class="mdl-mini-footer__link-list">#}
{#                <li><a href="#">Help</a></li>#}
{#                <li><a href="#">Privacy & Terms</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </footer>#}

{#    <div class="container">#}
{#        <!-- <p class="text-muted">Place sticky footer content here.</p> -->#}
{#        <div class="row">#}
{#            <div class="col-sm-4">Navigasjon#}
{#                <ul>#}
{#                    <li>Hovedside</li>#}
{#                    <li>Alle aktiviteter</li>#}
{#                    <li>Min side</li>#}
{#                    <li>Formum</li>#}
{#                </ul>#}
{##}
{#            </div>#}
{##}
{#            <div class="col-sm-4">Kontaktinformasjon#}
{##}
{#            </div>#}
{##}
{#            <div class="col-sm-4">#}
{#                <p class="text-muted">Versjon </p>#}
{#                <p class="text-muted">Lisens: Apache-2.0 </p>#}
{#                <p class="text-muted">Laget av </p>#}
{#                <ul class="text-muted">#}
{#                    <li>Martin Stigen</li>#}
{#                    <li>Ingrid Skar</li>#}
{#                    <li>Andreas Norstein</li>#}
{#                    <li>Christina H. Andresen</li>#}
{#                    <li>Thomas Wold</li>#}
{#                    <li>Sigve Skaugvoll</li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</footer>
