{% load base_extras %}
<div class="container">
    <!--<div class="container-navigation">
        <p class="navigation-item">Hovedside</p>
        <p class="navigation-item">Alle aktiviteter</p>
    </div>-->
    <div class="container-info">
        <p class="info-item"><b>Versjon:</b> {{ CURRENT_VERSION }} </p>
        <p class="info-item"><b>Lisens:</b> Apache-2.0 </p>
    </div>
    <hr class="footer-divider"/>
    <div class="container-creators">
        <p class="creators-item">Christina H. Andresen</p>
        <p class="creators-item">Andreas Norstein</p>
        <p class="creators-item">Ingrid Skar</p>
        <p class="creators-item">Martin Stigen</p>
        <p class="creators-item">Sigve Skaugvoll</p>
        <p class="creators-item">Thomas Wold</p>
    </div>

</div>
