{% extends "base_template.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block pageTitle %}
    Skalvi.no
{% endblock %}


{% block body %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}"/>

    <div class="banner-container">
        <img src="{% static "images/banner-home.png" %}" alt="Banner" class="banner-home">
    </div>

    <div class="content">
        <div class="content-margin-home">
            <h1>Kommende aktiviteter</h1>
            <div id="activities"></div>
        </div>

        {% if user.is_authenticated %}
            <div class="content-margin-home">
                <h1>Mine kommende aktiviteter</h1>
                <div id="attendingActivities"></div>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block explicitPageFooter %}
    {% render_bundle 'activitiesContainer' %}
    {% if user.is_authenticated %}
        {% render_bundle 'attendingActivitiesContainer' %}
    {% endif %}
{% endblock %}
