{% extends "base_template.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block pageTitle %}
    Skalvi.no
{% endblock %}


{% block body %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}" />

    <div class="banner-container">
        <img src="{% static "images/banner-test1.png" %}" alt="Banner" class="banner-home">
    </div>

    <div class="content">
        {% if user.is_authenticated %}
            <a href="/activity" class="btn btn-info" role="button" id="new-activity-button">Opprett ny aktivitet</a>
        {% endif %}

        <div class="content-margin-home">
            <h2>Kommende Aktiviteter</h2>
            <div id="activities"></div>
        </div>
    </div>

{% endblock %}

{% block explicitPageFooter %}
    {% render_bundle 'activitiesContainer' %}
{% endblock %}
