{% if not user.is_authenticated %}
    <li class="dropdown" id="styledropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Logg inn</a>

        <ul class="dropdown-menu" style="width: 20em;">
            <li>
                <form class="navbar-form" method="POST" action="/api/skalvi/login/">
                    <fieldset class="textbox">
                        <div class="input-group">
                            <label for="id_username">Brukernavn</label>
                            <input type="text" name="username" id="id_username" class="form-control">
                        </div>
                        <div class="input-group">
                            <label for="id_password">Passord</label>
                            <input type="password" name="password" id="id_password" class="form-control">
                        </div>
                        <br><br>
                        <button type="submit" class="btn btn-info">Logg inn</button>
                    </fieldset>

                    {% if error_message %}
                        <p style="color: red;"><strong>{{ error_message }}</strong></p>
                    {% endif %}
                </form>

                <hr>
                <form id="faceForm" method="POST" action="/api/skalvi/loginF/" hidden>
                    <fieldset class="textbox">
                        <input value="" type="text" name="username" id="id_Fusername" class="form-control">
                        <input value="" type="text" name="agerange" id="id_agerange" class="form-control">
                        <input value="" type="text" name="firstname" id="id_firstname" class="form-control">
                        <input value="" type="text" name="lastname" id="id_lastname" class="form-control">
                        <input value="" type="text" name="email" id="id_email" class="form-control">
                    </fieldset>
                </form>
                <div id="loginFacebook" style="margin-left: 1em">
                    <h4>Logg inn med Facebook</h4>
                    <button class="btn btn-info" onclick="logIn()">Logg inn med Facebook</button>
                </div>
                <hr>

                <a href="{% url 'skalvi:register' %}" class="test">Registrer ny bruker</a>
            </li>
        </ul>
    </li>
{% else %}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"> Hei {{request.session.profile_name}}</span></a>

    <ul class="dropdown-menu">

        <li><a href="/mypage/{{request.session.profile_name}}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Min
            side</a></li>
        <li><a href="{% url 'skalvi:choose' %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Bytt
            bruker</a></li>
        <li><a href="{% url 'skalvi:logout_user' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            Logg ut</a></li>
    </ul>
{% endif %}

