{% extends "base_template.html" %}
{% load render_bundle from webpack_loader %}
{% block pageTitle %}MyPage{% endblock %}
{% load static %}
{% block explicitPageHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/mypage.css' %}" />
{% endblock %}

{% block body %}
    <div class="banner-container">
            <img src="{% static "images/top-banner.png" %}" alt="Banner" class="banner">
    </div>

    <div class="content-margin-top">
        <div id="profilesOnMyPage" >
            <ul class="social">
                {% for profile in profiles %}
                    <li><a href="/mypage/{{ profile.profile_name }}" aria-hidden="true" class="text-init" class="profileButton">{{profile.initiales}}</a></li>
                {% endfor %}

                <li style="margin-top: 5em"><a href="/registerProfile/" aria-hidden="true" class="text-init" id="addProfile">+</a></li>
            </ul>
        </div>
        <div class="content">
            <div id="myPageContent">
                <div id="profileOnMyPage">
                    {% for profile in profiles %}
                        {% if request.path == profile.path %}

                            <div id="profile">

                                <div id="profilePicture">
                                    {% if profile.facebook == True  %}
                                        <img src="http://graph.facebook.com/{{ user.username}}/picture?type=normal" alt="Profilbile">
                                    {% endif %}
                                </div>

                                <div id="profileInformation">
                                    <h4><b>Fornavn:</b> {{ profile.profile_name }}</h4>
                                    <h4><b>Etternavn:</b> {{ profile.last_name }}</h4>
                                    <h4><b>Epost:</b> {{ profile.email }}</h4>
                                    <h4><b>Telefon:</b> {{ profile.phone }}</h4>

                                    {% if profile.type == "P" %}
                                        <h4><b>Registrert som:</b> Voksen</h4>
                                    {% endif %}

                                    {% if profile.is_active %}
                                        <h4><b>Aktiv bruker</b></h4>
                                    {% endif %}
                                </div>

                            </div>

                            <div id="profileActivities">

                                <div id="attending_Activities">
                                    <h3>Dine kommende aktiviteter</h3>
                                    <div id="attendingActivities"></div>
                                </div>

                                <div id="hosting_Activities">
                                    <div id="hosting_Activities_header">
                                        <h3>Mine aktiviteter </h3>
                                        <a href="/activity" class="btn btn-info" role="button" id="new-activity-button">Opprett ny aktivitet</a>
                                    </div>
                                    <div id="hostingActivities"></div>
                                </div>

                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block explicitPageFooter %}
    {% render_bundle 'attendingActivitiesContainer' %}
    {% render_bundle 'hostingActivitiesContainer' %}
{% endblock %}


