{% extends "base_template.html" %}
{% block pageTitle %}MyPage{% endblock %}
{% load static %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/mypage.css' %}" />

    <div class="row" style="padding-left: 2%">
        <div style="height: 100px"></div>
        <div class="col-sm-4 ">
            <div id="userInfo">
                <div><img src="http://graph.facebook.com/{{ user.username}}/picture?type=normal" alt="Profilbile"></div>

                <div>
                    <h1>Min side</h1>
                    <h3>Brukernavn: {{ user.username}}</h3>
                    <h4>Navn : {{ user.first_name.title }} {{ user.last_name.title }}</h4>
                    <h4>Epost: {{ user.email }}</h4>
                </div>
            </div>

            <br>
            <h3>Brukere i din familie</h3>
            {% for profile in userprofiles %}
                <hr style="width: 10%; float: left;"><br><br>

                <h4>Profilnavn: {{ profile.profile_name }}</h4>
                {% if profile.type == "P" %}
                    <h4>Brukertype: Voksen</h4>
                {%  else %}
                    <h4>Brukertype: Barn </h4>
                {% endif %}
                <h4>Telefon: {{ profile.phone }}</h4>
                <h4>Aktiv: {{ profile.is_active }}</h4>


            {% endfor %}
        </div>
        <div class="col-sm-4">
            <div style="height: 100px"></div>
            <h1>Registrer ny bruker på din profil</h1>
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'form_template.html' %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Registrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="padding-left: 2%">
        <div style="height: 100px"></div>
        <div class="col-sm-4 ">
            <div id="faceEvents">
                <h1>Dine facebook events:</h1>
{#                <button onclick="getFacebookEvents()" >FACE</button>#}
                <button onclick="getFacebookEvents()">Finn dine events</button>
                <ul>

                </ul>
            </div>
        </div>
    </div>



{% endblock %}






