{% load base_extras %}
{% load static %}
<script src="//connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v2.8&appId=1658650714438155"></script>
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="../static/styles/style.css">
<nav class="navbar navbar-inverse">
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
            appId      : '1658650714438155',
            cookie     : true,  // enable cookies to allow the server to access
                            // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.8' // use version 2.1
            });
        };

        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                  fetchInfo();
                }
            });
        }

        function fetchInfo() {
            var URL = "{% url 'skalvi:loginFacebook' %}";
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', 'GET', {fields: 'id, age_range, first_name, last_name, email, picture'}, function(response) {
                console.log("response " + JSON.stringify(response));
                var data = {
                    id: response.id,
                    age_range: response.age_range.min,
                    first_name: response.first_name,
                    last_name: response.last_name,
                    email: response.email
                };
                $.post(URL, data, function(response){
                    console.log(response)
                });
                setTimeout(function(){
                    FB.logout(function(response) {
                       // Person is now logged out
                    });
                    location.reload()
                }, 500);
            });
        }


    </script>

    <div class="nav-color">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo-div">
                    <a class="navbar-brand" href="/">
                        <img src="{% static "images/logo.png" %}" id="logo-image" alt="Logo">
                    </a>
                </div>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Hjem</a></li>
                    <li><a href="{% url 'skalvi:allactivities' %}">Aktiviteter</a></li>
                    {% include "loginBox.html" %}
                </ul>
            </div>
        </div>
    </div>
</nav>
