{% load base_extras %}
{% load static %}

<nav class="navbar navbar-inverse">
    <div id="fb-root"></div>
    <div class="nav-color">

            <div class="content">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo-div">
                    <a class="navbar-brand" href="/">
                        <img src="{% static "images/logo.png" %}" id="logo-image" alt="Logo">
                    </a>
                </div>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Hjem</a></li>
                    <li><a href="{% url 'skalvi:allactivities' %}">Aktiviteter</a></li>
                    {% include "loginBox.html" %}
                </ul>
            </div>
            </div>
    </div>
</nav>

<script>

    $(".nav a").on("click", function(){
        console.log("click");
        $(".nav").find(".active").removeClass("active");
        $(this).parent().addClass("active");
    });


</script>
