{% extends "base_template.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block explicitPageHeader %}
    <link rel="stylesheet" href="{% static "styles/forms.css" %}">
{% endblock %}

{% block pageTitle %}Register aktør{% endblock %}


{% block body %}

    <div class="banner-container">
        <img src="{% static "images/top-banner.png" %}" alt="Banner" class="banner">
    </div>
    <div class="content">
        <div class="form-page-title">Registrer aktør</div>
        {% if error_message %}
            <div class="alert alert-danger alert-wrapper">
                <strong>{{ error_message }}</strong>
            </div>
        {% endif %}
        <div class="main-wrapper mdl-shadow--2dp">
            <ul class='mdl-list'>
                <div id="provider-container"></div>
                <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if user.provider != None %}
                        <input id="provider" name="provider" hidden value="{{ user.provider }}">
                    {% else %}
                        <input id="provider" name="provider" hidden>
                    {% endif %}
                    <div class="submit-button">
                        <button type="submit" class="btn btn-success">Lagre</button>
                    </div>
                </form>
            </ul>
        </div>
    </div>
{% endblock %}

{% block explicitPageFooter %}
    {% render_bundle 'providerForm' %}
{% endblock %}
