{% extends "base_template.html" %}
{% load static %}

{% block explicitPageHeader %}
    <link rel="stylesheet" href="{% static "styles/forms.css" %}">
{% endblock %}

{% block pageTitle %}Register ny bruker{% endblock %}


{% block body %}

    <div class="content content-margin-top">
        <div class="form-page-title">Registrer ny bruker</div>
        {% if error_message %}
            <div class="alert alert-danger alert-wrapper">
                <strong>{{ error_message }}</strong>
            </div>
        {% endif %}
        <div class="main-wrapper mdl-shadow--2dp">
            <div>
                <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                            <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                            <div class="col-sm-10">{{ field }}</div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Registrer</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                Har du allerede en bruker? <a href="{% url 'skalvi:index' %}">Klikk her</a> for å logge inn.
            </div>
        </div>
    </div>
{% endblock %}
