{% extends "base_template.html" %}
{% load static %}

{% block explicitPageHeader %}
    <link rel="stylesheet" href="{% static "styles/forms.css" %}">
{% endblock %}

{% block pageTitle %}Register ny bruker{% endblock %}


{% block body %}

    <div class="content content-margin-top">
        <div class="form-page-title">Registrer ny bruker</div>
        {% if error_message %}
            <div class="alert alert-danger alert-wrapper">
                <strong>{{ error_message }}</strong>
            </div>
        {% endif %}
        <div class="main-wrapper mdl-shadow--2dp">
            <div>
                <form class="form-horizontal" role="form" action="" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'form_template.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                Already have an account? <a href="{% url 'skalvi:index' %}">Click here</a> to log in.
            </div>
        </div>
    </div>
{% endblock %}
