{% load static %}
{% block explicitPageHeader %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href={% static 'styles/bootstrap.min.css' %}>
    <link rel="stylesheet" href="../static/styles/chooseUser.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'styles/material.min.css' %}">
    <script src="{% static 'js/material.min.js' %}"></script>
    <link rel="stylesheet" href="{% static "styles/material.components.ext.min.css" %}">
    <script src="{% static 'js/material.components.ext.min.js' %}"></script>
    <script src="{% static 'js/materialFormFix.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Every page needs access and to use the style.css file -->
    <link rel="stylesheet" href="{% static "styles/style.css" %}">

{% endblock %}

{% block body %}

    <div style="margin: 100px;"></div>
    <a href="../mypage/{{ request.session.profile_name }}" id="back-arrow"><span class="glyphicon glyphicon-arrow-left"
                                                                                 aria-hidden="true"></span></a>

    <div id="body">
        <div>
            <img src="{% static "images/skalvino.png" %}" alt="logo" id="logo-image">
        </div>
        <div style="height: 100px"></div>
        <h1>Legg til profil</h1>
        <div id="registerProfileForm">
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'form_template.html' %}
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Legg til</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
