{% extends "base_template.html" %}
{% block pageTitle %}PROVIDER NAME{% endblock %}
{% load static %}

{% block explicitPageHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/singleProvider.css' %}"/>
{% endblock %}




{% block body %}

    <div style="margin: 150px ">
        <h1>
            {{ provider.Navn }}
        </h1>
        <div id="providerInformation" class="demo-card mdl-card mdl-shadow--2dp">
            <h4><span class="bold-info-text">Kategorier:</span> {{ provider.Kategorier }}</h4>
            <h4><span class="bold-info-text">Organisasjonsnummer:</span> {{ provider.Organisasjonsnummer }}</h4>
            <h4><span class="bold-info-text">Adresse:</span> {{ provider.Adresse }}</h4>
            {% if provider.Telefaks == None %}
                <h4><span class="bold-info-text">Medlemmer:</span> Ikke registrert</h4>
            {% else %}
                <h4><span class="bold-info-text">Medlemmer:</span>{{ provider.Medlemmer }}</h4>
            {% endif %}
            <h4><span class="bold-info-text">Organisasjonsform:</span> {{ provider.Organisasjonsform }}</h4>
            <h4><span class="bold-info-text">Rekrutteringsområde:</span> {{ provider.Rekrutteringsområde}}</h4>
            <h4><span class="bold-info-text">Telefon:</span> {{ provider.Telefon }}</h4>
            {% if provider.Telefaks != None %}
                <h4><span class="bold-info-text">Telefaks:</span> {{ provider.Telefaks }}</h4>
            {% endif %}

        </div>
        <br>
    <h3>Aktiviteter som denne aktøren har laget skal vises her</h3>
    <h3>Og informasjon om aktøren kommer også her</h3>


    </div>

{% endblock %}
