{% extends "base_template.html" %}
{% block pageTitle %}PROVIDER NAME{% endblock %}
{% load static %}

{% block explicitPageHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/singleProvider.css' %}"/>
{% endblock %}




{% block body %}

    <div style="margin: 150px ">
        <h1>
           Her kommer informasjon om {{ provider.Navn }}
        </h1>

    <h3>Aktiviteter som denne aktøren har laget skal vises her</h3>
    <h3>Og informasjon om aktøren kommer også her</h3>

    </div>

{% endblock %}
