/* Styling for activities on home page */
.activitySmalStyle {
    width: 25em;
    height: 25em;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid rgb(42, 42, 42);
    border-radius: 10px;
    background-color: rgb(42, 42, 42);
    color: white;
}

.activitySmalStyle:hover {
    background-color: whitesmoke;
    border-style: solid;
    border-color: dimgray;
}

.small-image {
    width: 25em !important;
    height: 25em !important;
    border-radius: 10px;
    z-index: -1;
}

.caption {
    height: 12em;
}

.info-box-wrapper {
    display: flex;
}

.icon-container {
    width: 1.5em;
}



/* Styling for activities on all activities page */
.activityBigStyle {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;

}

.activityBigStyle img {
    height: 15em;
    margin-left: 0;
}

.activityBigStyle:hover {
    background-color: whitesmoke;
    border-style: solid;
    border-color: dimgray;
}

.big-info-box-wrapper {
    display: flex;
}

.big-icon-container {
    margin-right: 10px;
}

.big-info-container {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}

.big-info-container-p {
    font-weight: bold;
}

.big-about-container {
    margin-left: 20px;
    flex-basis: 80%;
    flex-grow: 0;
    flex-shrink: 0;
}


.imageItem {

}

.filter-container {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    border-color: darkgrey;
    border-width: thin;
}
