#remove-s-button {
    line-height: 3;
    color: lightgrey;
}

#remove-s-button:hover {
    cursor: pointer;
    color: dimgrey;
}

#activity-a-remove {
    padding: 0;
    color: lightgrey;
}

#remove-a-button {
    line-height: 3;
    color: lightgrey;
}

#remove-a-button:hover {
    color: dimgrey;
    cursor: pointer;
}
