.activitySmalStyle {
    width: 20em;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.activitySmalStyle:hover {
    background-color: whitesmoke;
    border-style: solid;
    border-color: dimgray;
}

.activitySmalStyle img {
   height: 15em !important;
}

.caption {
    height: 13em;
}

.info-box-wrapper {
    display: flex;
}

.icon-container {
    width: 1.5em;
}

.activityBigStyle {
    width: 50em;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
}

.activityBigStyle img {
    height: 15em;
    margin-left: 0;
}

.activityBigStyle:hover {
    background-color: whitesmoke;
    border-style: solid;
    border-color: dimgray;
}

.about-container {
    margin-left: 20px;
}

.activityBigStyle .info-container {
    font-weight: bold;
}

.filter-container {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    border-color: darkgrey;
    border-width: thin;
}

.facebook-icon-wrapper {
    position: relative;
}

.facebook-icon-container {
    position: absolute;
    margin-top: 8px;
    margin-left: 13px;
}

.facebook-icon-container img {
    width: 40px;
    height: 40px;
    border-radius: 0.4em;
    background-color: white;
}
