.adaptions-container {
    display: flex;
    justify-content: center;
    height: 300px;
}

.adaptions-box {
    padding: 10px;
    margin: 10px;
    width: 45%;
}

.adaptions-title {
    line-height: 2;
    border-bottom: solid thin #bdbdbd;
}

.adaptions-holder {
    padding: 10px;
}

.chip {
    margin: 1px;
}
