#imageContainer {
    display: flex;
    max-width: 40em;
    height: auto;
}

i {
    font-size: 2em;
}

#commentAndRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ratingContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2.1em;
    width: 50%;
}

#ratingFeedback {
    margin: 0;
    color: green;
    font-weight: bolder;
    align-self: center;
}

#postError {
    color: red;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
}

.comment {
    margin-left: 1em;
    max-width: 100%;
    text-wrap: normal;
}

.commentBackground {
    margin-top: 1em;
    width: 90%;
    background-color: #f1f0f0;
    border-radius: 10px;
}

#commentDiv {
    width: 100%;
    min-height: 15em;
    max-height: 15em;
    overflow-y: auto;
    overflow-x: hidden;
}

#postComment {
    background-color: #d2d2d2;
    border-radius: 5px;
    height: 7em;
    margin-bottom: 1.5em;
}

.input-group {
    height: 100%;
    width: 100%;
}

.comment-form {
    height: 100%;
}

#commentInput {
    width: 100%;
    height: 100%;
    resize: none;
}

#addComment {
    float: right;
}

.dv-star-rating {
    align-self: flex-end;
}

p.activityRating {
    margin: 0;
    font-size: 1.3em;
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

.modal-title {
    display: flex;
}

.modal-header {
    background-color: rgb(244, 244, 244);
    background-position-y: 250px;
}

.modal-video {
    width: 290px;
    margin: 5px;
}

.modal-image-container {
    padding: 0 20px;
}

.modal-image {
    height: 290px;
    margin: 5px;
}

.modal-title-style {
    width: 100%;
    text-align: center;
    position: relative;
    padding-left: 10px;
}

.modal-provider-title {
    position: absolute;
    bottom: 0px;
    left: 10px;
    width: 100%;
    text-align: left;
}

.modal-adapted {
    background-color: rgb(255, 255, 255);
}

.modal-info-container {
    display: flex;
    margin-top: 20px;
    padding: 0 20px;
    font-size: 13pt;
    justify-content: space-between;
}

.modal-infobox1 {
    width: 90%;
    margin: 0 0.5em 0 0;
    padding: 0.5em;
}

.modal-infobox1-element {
    padding-top: 5px;
}

.modal-infobox1-map {
    margin-left: 15px;
    font-size: 11pt;
}

.modal-infobox2 {
    width: 90%;
    margin: 0 0 0 0.5em;
    padding: 0.5em;
}

.modal-infobox2-element {
    text-align: center;
}

.modal-description-header {
    color: #ffc62f !important;
}

.modal-comments {
    color: #03adff !important;
}

.modal-description {
    font-size: 13pt;
    padding: 0 20px;
}

.modal-image-header {
    color: #83d32c;
}

.modal-facebook-header {
    color: #3b5998;
}

.modal-glyphicon {
    color: #f39019;
}

.modal-facebook-wrapper {
    display: flex;
}

.modal-facebook-info {
    text-align: end;
}

.modal-facebook-data {
    margin-left: 5px;
}

.modal-facebook-admin-link {
    margin-right: 10px;
}

pre {
    white-space: pre-wrap;
    word-break: keep-all;
    hyphens: auto;
    text-align: left;
}
