i{
    font-size: 2em;
}

#rating{
    display: flex;
    flex-direction: row;
    float: left;
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

.modal-title {
    display: flex;
}

.modal-header {
    background-color: rgb(244, 244, 244);
    background-position-y: 250px;
}

.modal-video {
    width: 290px;
    margin: 5px;
}

.modal-image-container {
    padding: 0 20px;
}

.modal-image{
    height: 290px;
    margin: 5px;
}

.modal-title-style {
    width: 100%;
    textAlign: center;
    position: relative;
    padding-left: 10px;
}
.modal-provider-title {
    position: absolute;
    bottom: 0px;
    left: 10px;
    textAlign: left;
}

.modal-adapted {
    backgroundColor: rgb(255, 255, 255);
}

.modal-info-container {
    display: flex;
    margin-top: 20px;
    padding: 0 20px;
    font-size: 13pt;
}

.modal-infobox1 {
    width: 50%;
    textAlign: left-justify;
    lineHeight: 2;
}

.modal-infobox1-element {
    padding-top: 5px;
}

.modal-infobox1-map {
    margin-left: 15px;
    font-size: 11pt;
}

.modal-infobox2 {
    width: 50%;
}

.modal-infobox2-element {
    text-align: center;
    padding-top: 10px;
}

.modal-description-header {
    color: #ffc62f !important;
}

.modal-description {
    font-size: 13pt;
    padding: 0 20px;
}

.modal-image-header {
    color: #83d32c;
}

.modal-media-container {

}

.modal-glyphicon {
    color: #f39019;
}
