.provider-form-field {
    display: flex;
    justify-content: space-between;
}

.provider-add-button {
    height: 36px;
    margin-top: 26px;
}

.remove-button-container {
    float: left;
    margin-top: 12px;
}

.provider-remove-button {
    height: 36px;
}
