.navbar.navbar-inverse {
    margin-bottom: 0px;
    border-radius: 0;
    border: none;
}

a.navbar-brand {
    padding: 0;
}

.content {
    padding-left: 100px;
    padding-right: 100px;
}

.content-margin-top {
    margin-top: 100px;
}

.navbar-right > li {
    padding: 0 5px;
}
.logo-div {
    position: absolute;
	z-index: 1;
	text-align: center;
	background-color: rgb(34,34,34);

	/*margin: -30px 37%;*/
	margin-top: 20px;
	padding: 10px;
	width: 185px;
	height: 100px;
    border-radius: 4px;
}

.banner-container {
    z-index: -1;
    height: 300px;
    overflow: hidden;
}

pre {
    border: 0;
    background-color: transparent;
}

.filter-container {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    border-color: darkgrey;
    border-width: thin;
}

.date-picker-container {
    margin-top: 8px;
}

#time-period {
    font-size: large;
    padding-right: 15px;
}
